node_modules
data/*
public/files/*
.env
*.local
llm.json

.vscode
.DS_Store


cache/*
uploads/*
scripts/*

# agent workspace directory
workspace/**
!workspace

src/cache
src/Caches

#jetbrains
.idea

# complied files
out
.vite